footer{
    height: 9rem;
}

.contenedor{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    animation: transitionIn 1.5s;
}

.left{
    width: 50%;
    margin-top: 10px;
    float: left;
    min-height: fit-content;
}

.right{
    width: 50%;
    margin-top: 10px;
    float: right;
    font-weight: 500;
}

.icon{
    color: #ffffff;
    text-decoration: none;
}

/* TRANSITION */

@keyframes transitionIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}