<header class="contenedor">
  <nav class="navbar justify-content-center navbar-dark bg-celeste">
    <a class="navbar-brand" [routerLink]="['/lugares']">
      <img src="/assets/img/weather.png" width="60" height="60" alt="" loading="lazy">
    </a>
  </nav>

  <section class="container shadow-lg mt-3">
    <h1>Bienvenido! <br> Obtén datos e información sobre distintas ciudades y sus estadísticas del tiempo anuales!</h1>
  </section>
</header>

  
