/* TRANSITION */
.contenedor{
    animation: transitionIn 1.5s;
}

section{
    height: 17rem;
}

section h1{
    padding-top: 4rem;
    padding-left: 3rem;
}

@keyframes transitionIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}