.display-content{
    display: contents;
}

.imagenCiudad{
    width: 95%;
    height: 300px;
    transition: all 0.4s;
    border-radius: 50%;
}

.imagenCiudad:hover{
    padding: 5px;
}

.imagenCiudad2{
    width: 80%;
    height: 240px;
    transition: all 0.4s;
    border-radius: 50%;
    margin-left: 4rem;
}

.imagenCiudad2:hover{
    padding: 5px;
}

.imagenCiudadModal{
    width: 100%;
    height: 300px;
    object-fit: contain;
    transition: all 0.4s;
    min-height: 300px;
    max-height: 300px;
}

.imagenCiudadModal:hover{
    padding: 5px;
}

.contenedor{
    height: 23rem;
}

.contenedor2{
    height: 16rem;
}

.left{
    width: 50%;
    margin-top: 10px;
    float: left;
    min-height: fit-content;
}

.right{
    width: 50%;
    margin-top: 10px;
    float: right;
    font-weight: 500;
}

.icon-flag{
    width: 8%;
    margin-left: 5px;
    margin-bottom: 3px;
}

.left span{
    margin-left: 40px;
}

ul{
    list-style-type: none
}
