<section class="shadow-lg my-4 p-4">
    <div class="contenedor">
        <h2 class="text-center">{{ lugar.city }}</h2>
        <div class="left">
            <img [src]="imagenUrl" 
            class="imagenCiudad" 
            alt="..." 
            >
        </div>
        <div class="right">
            <span><b>Descripción</b></span>
            <p>{{ descripcionCiudad }}</p>
        </div>
        
    </div>

    <div class="contenedor2">
        <div class="left text-right">
            <span><b>Resumen</b></span>
            <ul>
                <li>Ciudad: {{ lugar.city }}</li>
                <li><span class="display-content"> País: {{ lugar.country }}</span> <img class="icon-flag" [src]="banderaUrl" alt="..."></li>
                <li>Promedio anual temperatura máxima: {{ promedioTemperaturaMaxima | number:'1.0-1' }}°</li>
                <li>Promedio anual temperatura mínima: {{ promedioTemperaturaMinima | number:'1.0-1' }}°</li>
                <li>Total anual de días secos: {{ totalAnualDiasSecos | number:'1.0-0' }}</li>
                <li>Total anual de días con lluvia: {{ totalAnualDiasConLluvia | number:'1.0-0' }}</li>
                <li>Total anual de días con nieve: {{ totalAnualDiasConNieve | number:'1.0-0' }}</li>
            </ul>
        </div>
    
        <div class="right">
            <img [src]="imagenUrl2" 
            class="imagenCiudad2" 
            alt="..." 
            >
        </div>
    </div>
    
</section>